*, *:before, *:after, *::before, *::after {
  box-sizing: border-box;
}

p {
  margin-bottom: inherit;
}

body {
  padding: .25rem;
  padding-top: 1rem;
  margin: 0 auto !important;
  overflow-x: hidden;
}

body,
img {
  max-width: 100%;
}

ul {
  list-style: none !important;
}

bookseattle-app {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 40rem !important;
}

.icono-home {
  margin-left: 2rem;
  margin-top: 2rem;
}

home-view img:first-of-type {
  margin: 0 auto;
  text-align: center;
}

.banner-image {
  margin-bottom: 1rem;
}

.title {
  font-size: 3.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-align: right;
  letter-spacing: -0.015em;
}

.title span:first-of-type {
  color: #79a6ec;
}

.title span:last-of-type {
  color: #282940;
  opacity: .7;
}

home-view,
navigation-view,
google-map-view {
  display: block;
  clear: both;
}

google-map-view {
  display: block;
  max-width: 100%;
  height: 35rem;
}

home-view img {
  max-width: 100%;
}

div {
  padding: 0.5%;
}

itinerary-view ul {
  display: block;
}

itinerary-view span {
  font-weight: bold;
  margin-right: 1rem;
}

itinerary-view > div > div {
  margin: 0 auto;
  padding-top: 2rem;
}

itinerary-summary-view img {
  filter: grayscale(100%);
}

home-view p:nth-of-type(2) {
  font-style: italic;
  text-align: center;
}

home-view p:first-of-type,
home-view p:nth-of-type(2) {
  margin-bottom: 1rem;
}

navigation-view {
  margin-bottom: 1rem;
}

navigation-view ul {
  display: block;
  text-align: center;
}

navigation-view li {
  font-size: 4rem;
  color: black;
  position: relative;
  vertical-align: middle;
  text-align: center;
  table-layout: fixed;
}

navigation-view a {
  padding: 5rem;
  color: black;
  text-decoration: none;
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: .3;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  z-index: 200;
}

navigation-view img:hover {
  filter: hue-rotate(175deg), blur(50px);
}

navigation-view img {
  max-width: 100%;
  filter: grayscale(100%);
  z-index: -1;
  max-height: 25rem;
}

room-view form {
  margin-bottom: 1rem;
  text-align: center;
}

room-view label,
room-view input,
reservation-confirmation-view label,
reservation-confirmation-view input {
  display: inline-block;
}

room-view li {
  display: inline-block;
  padding-right: 2rem;
}

room-view img {
  margin-bottom: 2rem;
}

room-view .room li {
  padding-right: 4rem;
}

room-view label,
reservation-confirmation-view label {
  padding-right: 1rem;
}

room-view input,
reservation-confirmation-view input {
  margin-right: 2rem;
}

room-view div p:first-of-type {
  margin: 0 auto;
}

.line-item {
  display: block !important;
  margin-bottom: 0 !important;
}

.line-item p {
  padding: .5rem;
}

.nightly-rates {
  padding: 1rem;
  margin-bottom: 1rem;
}

.room p {
  margin-bottom: 3rem;
}

.room ul {
  margin-bottom: 2rem;
}

room-view .room > p:first-of-type {
  text-align: center;
}

.bookseattle-button {
  background: #FF5A5F !important;
  border-radius: 4px;
  color: white !important;
  font-variant: small-caps !important;
  font-size: 1.25rem !important;
  margin: 0 auto !important;
  text-align: center !important;
  padding: .25 .75rem !important;
  height: 2.75rem !important;
  line-height: 2.35 !important;
  margin: 1rem !important;
}

house-rules-view {
  text-align: center;
}

.review-rules,
summary-view {
  display: inline-block;
  padding: 2rem;
  vertical-align: middle;
  text-align: left;
}

reservation-confirmation-view p {
  text-align: center;
}

input[type='text'],
input[type='number'] {
  height: auto !important;
}

.payment-form {
  padding: 3rem;
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

footer {
  padding: 1rem;
  text-align: right;
}

.border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
}

hr {
  border-top: 0;
}

@media (min-width: 700px) {
  bookseattle-app {
    max-width: 90rem !important;
  }

  errors-view {
    text-align: right;
  }

  .title {
    font-size: 3.5rem;
    top: 4rem;
    right: 4rem;
  }

  home-view img {
    display: inline-block;
    text-align: center;
  }

  room-view img {
    max-width: 50rem;
  }

  navigation-view li {
    display: inline-block;
    text-align: left;
    max-width: 60rem;
    font-size: 5rem;
    margin: 1%;
    vertical-align: middle;
  }

  navigation-view a  {
    padding: 6rem;
  }

  house-rules-view img {
    max-width: 30rem;
  }

  itinerary-summary-view div {
    padding: 0;
  }

  .icono-home {
    margin-left: 0;
  }
}
